.create-trip-container {
  max-width: 500px;
  margin: 6rem auto;
  text-align: center;
}

.create-trip-container input {
  padding: 12px;
  width: 80%;
  margin-bottom: 16px;
  font-size: 16px;
}


.create-trip-container button {
  background-color: #2f80ed;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.profile-back-button {
  position: absolute;
  left: 0;
  top: 40px;
  transform: translateY(-50%);
  background: none !important;
  color: #357EC7 !important;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 0 8px;
}


