/* Home.css */

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 140px 20px;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Geologica', sans-serif;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  height: 200px;
  object-fit: contain;  
}

.home-profile {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  right: 15px;
  margin-top: -150px;
}

.home-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


.trip-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  font-family: 'Geologica', sans-serif;
  margin-top: 1rem;
}  

.trip-carousel h3{
  font-size: 30px;
}

.carousel {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.action-button {
  padding: 10px 18px;
  background-color: #76B2FF;
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
  font-family: 'Geologica', sans-serif;
  text-decoration: none;
}

.button:hover {
  background-color: #76B2FF;
}

.no-trips {
  text-align: center;
  margin-top: 60px;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  font-family: 'Geologica', sans-serif;
}

.join-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-family: 'Geologica', sans-serif;
}