.settings-wrapper {
   max-width: 500px;
   margin: 0 auto;
   padding: 30px 20px 100px;
   font-family: 'Segoe UI', sans-serif;
   color: #333;
 }
 
 .settings-header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 30px;
 }
 
 .trip-name-input {
   font-size: 28px;
   font-weight: bold;
   border: none;
   border-bottom: 2px solid #ccc;
   outline: none;
   width: 80%;
   background: transparent;
   padding: 5px 0;
   font-family: 'Geologica', sans-serif;
 }
 
 .profile-icon {
   background: none;
   border: none;
   background-color: #76B2FF;
   cursor: pointer;
 }
 
.settings-section {
  background-color: #e0f2ff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.threshold-input {
  width: 80px;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
}

.threshold-symbol {
  margin-left: 8px;
  font-size: 18px;
  color: #333;
}



 
 .members-list {
   list-style: none;
   padding: 0;
   margin-top: 15px;
   font-family: 'Geologica', sans-serif;
 }
 
 .member-item {
   display: flex;
   justify-content: space-between;
   font-family: 'Geologica', sans-serif;
   align-items: center;
   padding: 10px 0;
   border-bottom: 1px solid #e6e6e6;
 }
 
 .member-info {
   display: flex;
   align-items: center;
   gap: 12px;
 }
 
 .member-name {
   font-weight: 600;
 }
 
 .member-email {
   font-size: 13px;
   color: #555;
 }
 
 .member-avatar {
   color: #888;
 }

 .button {
  background-color:  #76B2FF;
 }
 
 .remove-button {
   background: none;
   border: none;
   color: red;
   font-size: 18px;
   cursor: pointer;
 }
 
 .add-button {
   margin-top: 15px;
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 10px;
   background-color: #76B2FF;
   border: none;
   color: white;
   border-radius: 6px;
   font-size: 15px;
   cursor: pointer;
   width: 100%;
   justify-content: center;
 }
 
 .add-button:hover {
   background-color: #218838;
 }
 
 .threshold-input {
   width: 80px;
   font-size: 18px;
   padding: 6px 10px;
   border: 1px solid #ccc;
   border-radius: 6px;
   margin-top: 10px;
 }
 
 .threshold-symbol {
   margin-left: 10px;
   font-size: 18px;
   color: #666;
 }
 
 .save-button {
   margin-top: 30px;
   width: 100%;
   padding: 12px;
   background-color: #76B2FF;
   border: none;
   color: white;
   border-radius: 8px;
   font-size: 16px;
   cursor: pointer;
 }
 
 .save-button:hover {
   background-color: #0056b3;
 }
 