.idea-card {
    display: flex;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s ease;
    margin: 0px 20px;
    font-family: 'Geologica', sans-serif;
  }
  
  .image-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 12px;
    margin: auto;
    margin-left: 15px;
    display: flex;
    /* align-items: center; */
    justify-content: center;
  }
  
  .idea-cover {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .idea-content {
    padding: 12px;
    flex: 1;
  }
  
  .idea-content h3 {
    margin: 0 0 -6px;
    font-size: 17px;
  }
  
  .idea-date {
    font-size: 14px;
    color: black;
  }
  
  .idea-tags {
    font-size: 14px;
    color: #999;
    margin-top: 4px;
  }
  
  .voters {
    margin-top: -5px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
    color: #777;
  }
  
  .avatar {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    margin-left: -10px;
  }

  .avatar.more-voters {
    background-color: #dddddd;
    width: 21px;
    height: 21px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
  }
  
.dots{
    margin-top: -8px;
}