.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  background-color: #fff;
  border-top: 1px solid #ddd;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  font-family: 'Geologica', sans-serif;
  margin-bottom: -3px;
  border-radius: 15px;
}

.nav-button {
  flex: 1;
  text-decoration: none;
  text-align: center;
  color: inherit;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 6px;
}

.nav-icon {
  font-size: 24px;
  color: #aaa;
}

.nav-icon.active {
  color: #76B2FF;
}

.nav-label {
  font-size: 13px;
  margin-top: 4px;
  color: #aaa;
  font-weight: 400;
}

.nav-label.active {
  color: #76B2FF;
  font-weight: 600;
}

.active-bar {
  position: absolute;
  bottom: -10px;
  height: 4px;
  width: 40%;
  background-color: #76B2FF;
  border-radius: 2px;
}
